
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Simple Airbnb</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Add Flat</button>
  </form>
</nav>


<div class="container pt-3">
  <h1>All our Flats</h1>
  <p>All num** flats.</p>

  <div class="box">
    <div class="my-card">

      <div class="img">
      </div>
    <!--   <img src="" class="card-img-top" alt="..."> -->

      <div class="info">

        <h5 class="card-title">Flat name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <div class="d-inline-flex">

          <div class="flex">

            <p><i class="fas fa-user-friends"></i></p>
          </div>

          <div class="flex ml-3">

            <p><i class="fas fa-euro-sign"></i></p>

          </div>

        </div>

      </div>

        <div class="contact">
          <a href="#" class="card-link">More info</a>
          <a href="#" class="card-link text- text-warning">edit</a>
          <a href="#" class="card-link text- text-danger">Remove</a>

        </div>
    </div>

    <div class="my-card">

      <div class="img">
      </div>
    <!--   <img src="" class="card-img-top" alt="..."> -->

      <div class="info">

        <h5 class="card-title">Flat name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <div class="d-inline-flex">

          <div class="flex">

            <p><i class="fas fa-user-friends"></i></p>
          </div>

          <div class="flex ml-3">

            <p><i class="fas fa-euro-sign"></i></p>

          </div>

        </div>

      </div>

        <div class="contact">
          <a href="#" class="card-link">More info</a>
          <a href="#" class="card-link text-warning">edit</a>
          <a href="#" class="card-link text-">Remove</a>

        </div>

    </div>


    <div class="my-card">

      <div class="img">
      </div>
    <!--   <img src="" class="card-img-top" alt="..."> -->

      <div class="info">

        <h5 class="card-title">Flat name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <div class="d-inline-flex">

          <div class="flex">

            <p><i class="fas fa-user-friends"></i></p>
          </div>

          <div class="flex ml-3">

            <p><i class="fas fa-euro-sign"></i></p>

          </div>

        </div>

      </div>

        <div class="contact">
          <a href="#" class="card-link">More info</a>
          <a href="#" class="card-link text-warning">edit</a>
          <a href="#" class="card-link text-danger">Remove</a>

        </div>
  </div>


  </div>




